Importando Bibliotecas

In [11]:
import pandas as pd

Importando base de dados

In [12]:
def importar(arquivo): return pd.read_csv(f'./bases/{arquivo}',delimiter=',')

dados_categorias = importar('data_categorias.csv')
dados_clientes = importar('data_clientes.csv')
dados_lojas = importar('data_lojas.csv')
dados_produtos = importar('data_produtos.csv')
dados_vendas = importar('data_vendas.csv')

Correções

* Alterar o tipo de dados das datas ✓
* Remover R$ dos valores ✓
* Consolidar as bases ✓
* Criar a coluna de Total ✓
* Salvar o novo data_set ✓

In [13]:
dados_vendas['dt_Venda'] = pd.to_datetime(dados_vendas['dt_Venda'])
dados_vendas.dtypes

dados_produtos['Preço Unitário'] = dados_produtos['Preço Unitário'].str.lstrip('R$ ').astype(float)
dados_produtos

     id_Produto                  Produto  fk_Categoria  Preço Unitário
0             1     Computador_PowerPlex             1          5650.0
1             2   Computador_SpeedMaster             1          1458.0
2             3  Computador_QuantumElite             1          3256.0
3             4      Computador_CyberPro             1          7890.0
4             5     Computador_DataPulse             1          4599.0
..          ...                      ...           ...             ...
133         134        Hub_MegaConnect X            16          6593.0
134         135        Hub_CodeHub Elite            16          3554.0
135         136         Hub_ByteLink Pro            16          4659.0
136         137      Hub_SpeedConnect XR            16         46698.0
137         138         Hub_UltraHub Pro            16          3596.0

[138 rows x 4 columns]

In [14]:

dados_consolidados = pd.merge(  dados_vendas, dados_clientes,
                                left_on='fk_Cliente', right_on='id_Cliente',
                                how='left')

dados_consolidados = pd.merge(dados_consolidados, dados_produtos,
                              how='right', left_on='fk_Produto',right_on='id_Produto')

dados_consolidados = pd.merge(dados_consolidados, dados_lojas,
                              how='right', left_on='fk_Loja',right_on='id_Loja')
dados_consolidados = pd.merge(dados_consolidados, dados_categorias,
                              how='right', left_on='fk_Categoria',right_on='id_Categoria')
dados_consolidados.columns

Index(['id_Venda', 'fk_Cliente', 'fk_Produto', 'fk_Loja', 'Quantidade',
       'dt_Venda', 'id_Cliente', 'Cliente', 'Email', 'id_Produto', 'Produto',
       'fk_Categoria', 'Preço Unitário', 'id_Loja', 'Loja', 'id_Categoria',
       'Categorias'],
      dtype='object')

In [15]:
dados_consolidados['Total'] = dados_consolidados['Preço Unitário'] * dados_consolidados['Quantidade']
dados_consolidados

,id_Venda,fk_Cliente,fk_Produto,fk_Loja,Quantidade,dt_Venda,id_Cliente,Cliente,Email,id_Produto,Produto,fk_Categoria,Preço Unitário,id_Loja,Loja,id_Categoria,Categorias,Total
0,766979-7865826879-vd353,3996.0,1.0,1.0,31.0,2023-01-04,3996.0,Ruthe Schowalter,Ruthe@email.com,1.0,Computador_PowerPlex,1.0,5650.0,1.0,São Paulo,1,Computador,175150.0
1,766979-7865826879-vd1373,1558.0,1.0,1.0,1.0,2023-01-13,1558.0,Samantha Pollich,Saman@email.com,1.0,Computador_PowerPlex,1.0,5650.0,1.0,São Paulo,1,Computador,5650.0
2,766979-7865826879-vd1589,3782.0,1.0,1.0,19.0,2023-01-15,3782.0,Carli Bernhard,Carli@email.com,1.0,Computador_PowerPlex,1.0,5650.0,1.0,São Paulo,1,Computador,107350.0
3,766979-7865826879-vd2101,1282.0,1.0,1.0,15.0,2023-01-20,1282.0,Donnie Mertz,Donni@email.com,1.0,Computador_PowerPlex,1.0,5650.0,1.0,São Paulo,1,Computador,84750.0
4,766979-7865826879-vd2402,3815.0,1.0,1.0,32.0,2023-01-23,3815.0,Dr. Efren Brekke,Dr. E@email.com,1.0,Computador_PowerPlex,1.0,5650.0,1.0,São Paulo,1,Computador,180800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39130,766979-7865826879-vd34005,3103.0,138.0,5.0,34.0,2023-11-08,3103.0,Joannie Goodwin,Joann@email.com,138.0,Hub_UltraHub Pro,16.0,3596.0,5.0,Santos,16,Hub,122264.0
39131,766979-7865826879-vd34267,480.0,138.0,5.0,4.0,2023-11-10,480.0,Raphaelle Morar,Rapha@email.com,138.0,Hub_UltraHub Pro,16.0,3596.0,5.0,Santos,16,Hub,14384.0
39132,766979-7865826879-vd34334,3357.0,138.0,5.0,21.0,2023-11-11,3357.0,Melissa Wilkinson,Melis@email.com,138.0,Hub_UltraHub Pro,16.0,3596.0,5.0,Santos,16,Hub,75516.0
39133,766979-7865826879-vd35066,867.0,138.0,5.0,24.0,2023-11-17,867.0,Raleigh Cronin II,Ralei@email.com,138.0,Hub_UltraHub Pro,16.0,3596.0,5.0,Santos,16,Hub,86304.0
39134,766979-7865826879-vd38879,1052.0,138.0,5.0,31.0,2023-12-21,1052.0,Prof. Monserrat Cartwright,Prof.@email.com,138.0,Hub_UltraHub Pro,16.0,3596.0,5.0,Santos,16,Hub,111476.0

In [16]:
try:
    dados_consolidados.drop(columns=['fk_Cliente','fk_Produto','fk_Loja','fk_Categoria'], inplace=True)
except:
    print("Já foram deletadas")
dados_consolidados.columns

Index(['id_Venda', 'Quantidade', 'dt_Venda', 'id_Cliente', 'Cliente', 'Email',
       'id_Produto', 'Produto', 'Preço Unitário', 'id_Loja', 'Loja',
       'id_Categoria', 'Categorias', 'Total'],
      dtype='object')

In [17]:
dados_consolidados.to_csv('./bases/data_consolidados.csv',sep=',',index=False)
dados_consolidados.head()

,id_Venda,Quantidade,dt_Venda,id_Cliente,Cliente,Email,id_Produto,Produto,Preço Unitário,id_Loja,Loja,id_Categoria,Categorias,Total
0,766979-7865826879-vd353,31.0,2023-01-04,3996.0,Ruthe Schowalter,Ruthe@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador,175150.0
1,766979-7865826879-vd1373,1.0,2023-01-13,1558.0,Samantha Pollich,Saman@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador,5650.0
2,766979-7865826879-vd1589,19.0,2023-01-15,3782.0,Carli Bernhard,Carli@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador,107350.0
3,766979-7865826879-vd2101,15.0,2023-01-20,1282.0,Donnie Mertz,Donni@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador,84750.0
4,766979-7865826879-vd2402,32.0,2023-01-23,3815.0,Dr. Efren Brekke,Dr. E@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador,180800.0

In [18]:
clienteDropdown = dados_consolidados[['id_Cliente','Cliente']]
clienteDropdown

       id_Cliente                     Cliente
0          3996.0            Ruthe Schowalter
1          1558.0            Samantha Pollich
2          3782.0              Carli Bernhard
3          1282.0                Donnie Mertz
4          3815.0            Dr. Efren Brekke
...           ...                         ...
39130      3103.0             Joannie Goodwin
39131       480.0             Raphaelle Morar
39132      3357.0           Melissa Wilkinson
39133       867.0           Raleigh Cronin II
39134      1052.0  Prof. Monserrat Cartwright

[39135 rows x 2 columns]

In [29]:


dic = {}
labelValues = []
for x,i in clienteDropdown.head().items():
    print(i[0])
labelValues

3996.0
Ruthe Schowalter

[]